<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <script>
        const URL = ''

        const fetchItems = async (url) => {
            const res = await fetch(url)
            const data = await res.json()
            console.log(data)
            return data
        }

        let items = await fetchItems(URL)
    </script>
    <style>
        .container {
            display: flex;
            
        }
    </style>
    <body>
        <div class="container">
            <div class="items">
                Siema
            </div>
        </div>
    </body>
</html>
