.login-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.login-container input {
    font-size: 30px;
    border: 0px;
    border-radius: 8px;
    padding: 5px 15px;
}

.login-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
}