.organ {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 200px;
    align-items: center;
    padding: 10px 20px;
    background: #35312f;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttons {
    display: flex;
    justify-content: end;
    gap: 10px;
}
